@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&display=swap');

html, body {
  direction: rtl;
  font-family: 'Noto Naskh Arabic', sans-serif;
  background: #f9fafb;
}